 body{
	display:flex;
	padding:0px;
	margin:0px;
	font-family: Capriola, Helvetica, sans-serif;
}
 form.inputMenu {
	padding: 10px;
    background-color: #000000;
	border-radius: 5px;
	font-family: Capriola, Helvetica, sans-serif;
	font-size: 14px;
	min-width: 150px;
	border: 1px solid #d4d4d4;
	box-shadow: 5px 5px 5px #888888;
	font-weight: bold;
	z-index:1200;
	color:rgb(251, 249, 200);
}
.lead {
    font-style: italic;
}
p {
    margin: 5px 0px;
}
polygon {
    pointer-events: none;
}
        
		
rect.selection {
    stroke          : gray;
    stroke-dasharray: 4px;
    stroke-opacity  : 0.5;
    fill            : transparent;
}
.d3-context-menu {
	position: absolute;
	display: none;
	background-color: #000000;
	border-radius: 5px;
	font-family: Capriola, Helvetica, sans-serif;
	font-size: 14px;
	min-width: 150px;
	border: 1px solid #d4d4d4;
	box-shadow: 5px 5px 5px #888888;
	font-weight: bold;
	z-index:1200;
	color:rgb(251, 249, 200);
}
.d3-context-menu ul {
	list-style-type: none;
	margin: 4px 0px;
	padding: 0px;
	cursor: default;
}
.d3-context-menu ul li {
	padding: 4px 16px;
}
.d3-context-menu ul li:hover {
	border-radius: 3px;
	background-color: #0f71ba;
	color: #fefefe;
}
.d3-context-menu ul li > ul {
	list-style-type: none;
	margin: 4px 0px;
	padding: 0px;
	cursor: default;
}
.d3-context-menu ul li > ul li {
	padding: 4px 16px;
}
.d3-context-menu ul li > ul li:hover { 
    background-color: rgb(9, 67, 111);
	color: #fefefe;
	border-radius: 3px;
}
.nodeLabel{
  fill: #000;
  font-family: sans-serif;
}
.links {
  stroke: #000;
  stroke-width: 2.5px;
}
.influence{
  stroke-width: 2.5px;
  stroke-dasharray:10 3;
}
.influence.positive{
	stroke:#00cc00;
}
.influence.negative{
	stroke:#ff0000;	
}
#pos_end{
	fill:#00cc00;
	stroke:#00cc00;
}
#neg_end{
	fill:#ff0000;
	stroke:#ff0000;
}

.parent {
  stroke: #009933;
  stroke-width: 2px;
}
circle.node {
  cursor: move;
  stroke:#000;
  stroke-width: 1.5px;
  stroke-dasharray:none;
}
.node.fixed {
  stroke-dasharray:10 3;
}
.node.selected {
  stroke:#f00;
}
.node.hilighted{
	fill:#ffa31a;
	stroke:#000;
}
.node.alway{
	stroke:#1496bb;
}
.action.alway{
	stroke:#1496bb;
}
.action.existAlway{
	stroke:#9900cc;
}
.node.exist{
	stroke:#ff66cc;
}
.action.exist{
	stroke:#ff66cc;
}
.node.selected_overlay{
	fill:#ffa31a;
}
.action.selected_overlay{
	fill:#ffa31a;
}
label.hilighted{
	fill:#ffa31a;
	stroke:#000;
}
rect.action{
  cursor: move;
  stroke:#000;
  stroke-width: 1.5px;
  stroke-dasharray:none;
}
rect.action.fixed {
  stroke-dasharray:10 3;
}
.action.selected{
	stroke:#f00;
}
.bnd{
	fill: #aaf;
}
.brk{fill: #aae;}
.mod{fill:#aad;}
.syn{fill:#aac;}
.deg{fill:#aab;}	
.agent{fill: #aaa;}
.region{fill: #bbb;}
.key_res{fill: #ccc;}
.attribute{fill: #ddd;}
.flag{fill: #eee;}
.binder{
	fill: #fff;
	stroke:#003366;
	stroke-width: 1px;
}
svg {
  height: 100%;
  max-width: 100%;
}
#main-container{
	width:100vw;
	height:100vh;
	background-color:#fffeec;
}
#menu{
  height:4.5%;
	max-height:40px;
	width:100%;
	border-top-right-radius:10px;
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(76,76,76,1) 2%, rgba(102,102,102,1) 16%, rgba(71,71,71,1) 31%, rgba(19,19,19,1) 86%, rgba(19,19,19,1) 100%);
}
#menu_f{
	height:100%;
	width:100%;
}
#bottom_top_chart{
	width:100%;
	height:0.6%;
	max-height:5px;
	border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
	background:linear-gradient(to bottom, #3fa4f0 0%, #0f71ba 100%);
}

#graph{
  width:100%;
	height:94.9%;
	max-height:calc(100%-45px);
	overflow:hidden;
	background-color: #fffeec;
}
.tab_el{
	bottom:0px;
	float:left;
	width:7.8%;
	height:100%;
	font-size:100%;
	border:none;
	border-top-right-radius:5px;
	border-top-left-radius:5px;
	text-align:center;
	font-weight: bold;
	color:rgb(251, 249, 200);
	font-family: Capriola, Helvetica, sans-serif;
}
#kr{
	margin-left:4%;
}
#replay{
	top:0;
	float:right;
	margin-right:0.3%;
	height:90%;
	border:2px solid #0f71ba;
	border-radius:5px;
	text-align:center;
	font-weight: bold;
	color:rgb(251, 249, 200);
	font-family: Capriola, Helvetica, sans-serif;
	font-size:100%;
	background:linear-gradient(to bottom, #3fa4f0 0%, #0f71ba 100%);
}
#import{
	float:left;
	margin-top:3%;
	margin-bottom:3%;
	height:90%;
	border:2px solid #0f71ba;
	border-radius:5px;
	text-align:center;
	font-weight: bold;
	color:rgb(251, 249, 200);
	font-family: Capriola, Helvetica, sans-serif;
	font-size:100%;
	background:linear-gradient(to bottom, #3fa4f0 0%, #0f71ba 100%);
}
#export{
	float:right;
	margin-top:3%;
	margin-bottom:3%;
	height:90%;
	margin-right:50px;
	border:2px solid #0f71ba;
	border-radius:5px;
	text-align:center;
	font-weight: bold;
	color:rgb(251, 249, 200);
	font-family: Capriola, Helvetica, sans-serif;
	font-size:100%;
	background:linear-gradient(to bottom, #3fa4f0 0%, #0f71ba 100%);
}
#import_f{
	float:left;
	margin-left:15px;
	border:2px solid #0f71ba;
	border-radius:5px;
	color:rgb(251, 249, 200);
	font-family: Capriola, Helvetica, sans-serif;
	font-size:100%;
	height:80%;
	margin-top:3px;
}
#kappa{
	float:left;
	margin-top:5%;
	margin-bottom:5%;
	height:82%;
	margin-left:5%x;
	border:2px solid rgba(214,128,138,1);
	border-radius:5px;
	text-align:center;
	font-weight: bold;
	color:rgb(251, 249, 200);
	font-family: Capriola, Helvetica, sans-serif;
	font-size:100%;
	background: linear-gradient(to bottom, rgba(181,148,153,1) 0%, rgba(161,58,70,1) 18%, rgba(179,39,56,1) 91%, rgba(214,128,138,1) 100%);
}

.n_tooltip{
background-color:#fffeec;
	position:absolute;
	bottom:20px;
	left:10px;
	border:4px solid #0f71ba;
	border-radius:10px;
	box-shadow: 3px 3px 3px #888888;
	z-index: 100;
	display: block;
  text-align: left;
  vertical-align: top;
  width: 150px;
  overflow : hidden;
}

.s_tooltip{
  bottom: 20px;
  left: 10px;
  position: absolute;
  height: 25px;
}
.att_tooltip{
  fill: white;
  stroke: black;
  stroke-width: 1;
  opacity: 0.85;
}